<!DOCTYPE html>
<html ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Demo int selector App</title>
	</head>
	<body ng-controller="AppCtrl as ctrl">
		<div class="container-fluid">
			<div class="page-header">
				<h1>Int-Selector Demo</h1>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<form class="form-horizontal" name="form">
						<div class="form-group">
							<label class="col-sm-4 control-label text-danger">value:[0, 5,6]</label>
							<div class="col-sm-2">
								<input type="button" class="form-control" ng-click="ctrl.modelPages()" value="Pages">
							</div>
							<label class="col-sm-4 control-label text-danger">value:[2000, 2002,2003]</label>
							<div class="col-sm-2">
								<input type="button" class="form-control" ng-click="ctrl.modelYears()" value="Years">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label text-danger">Min : </label>
							<div class="col-sm-2">
								<input type="number" class="form-control" ng-model="ctrl.min">
							</div>
							<label class="col-sm-4 control-label text-danger">Max : </label>
							<div class="col-sm-2">
								<input type="number" class="form-control" ng-model="ctrl.max">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Suggests</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="ctrl.suggests" ng-list=",">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Fixed : </label>
							<div class="col-sm-2">
								<input type="number" class="form-control" ng-model="ctrl.fixed">
							</div>
							<div class="col-sm-6">Size of each input, usefull for years for example.</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Separator : </label>
							<div class="col-sm-1">
								<input type="text" class="form-control" ng-model="ctrl.separator">
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-6">Int separator to view.</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Separators : </label>
							<div class="col-sm-1">
								<input type="text" class="form-control" ng-model="ctrl.separators">
							</div>
							<div class="col-sm-1"></div>
							<div class="col-sm-6">Int separators accepted from keyboard.</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Required : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" ng-model="ctrl.required">
							</div>
							<div class="col-sm-7">Empty enter is not accepted</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Disabled : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" ng-model="ctrl.disabled">
							</div>
							<div class="col-sm-7">Disable input, input value will be hide, it's different of readonly</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Readonly : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" ng-model="ctrl.readonly">
							</div>
							<div class="col-sm-7">Readonly input</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Reverse : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" ng-model="ctrl.reverse">
							</div>
							<div class="col-sm-7">Order of int in dropmenu </div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Size : </label>
							<div class="col-sm-8">
								<div class="btn-group" role="group" aria-label="...">
									<button type="button" ng-class="{'btn-primary':ctrl.size === 0}" ng-click="ctrl.size = 0" class="btn btn-default">Very small (class='xs')</button>
									<button type="button" ng-class="{'btn-primary':ctrl.size === 1}" ng-click="ctrl.size = 1" class="btn btn-default">Small (class='sm')</button>
									<button type="button" ng-class="{'btn-primary':ctrl.size === null}" ng-click="ctrl.size = null" class="btn btn-default">Normal</button>
									<button type="button" ng-class="{'btn-primary':ctrl.size === 3}" ng-click="ctrl.size = 3" class="btn btn-default">Large (class='lg')</button>
								</div>							
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Dropmenu : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" ng-model="ctrl.dropmenu">
							</div>
							<div class="col-sm-7">Hide dropmenu (class='hide-dropmenu')</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">KeyNav : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" ng-model="ctrl.keyNav">
							</div>
							<div class="col-sm-7">Add keys navigation feature, ArrowUp, ArrowDown, Add(+)</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Valid : </label>
							<div class="col-sm-1">
								<input type="checkbox" class="form-control" disabled ng-model="form.years.$valid">
							</div>
							<div class="col-sm-7">Flag valid</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">ngModel : </label>
							<div class="col-sm-8">
								<span ng-repeat="val in ctrl.selectedValues">
									<span ng-bind="val"></span>,
								</span>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Int selector : </label>
							<div class="col-sm-8">
								<int-selector name="years" ng-model="ctrl.selectedValues" 
												  ng-class="{'xs':ctrl.size===0, 'sm':ctrl.size===1, 'lg':ctrl.size===3, 'hide-dropmenu':!ctrl.dropmenu}"
												  ng-disabled="ctrl.disabled"
												  ng-readonly="ctrl.readonly"
												  ng-required="ctrl.required"
												  ng-change="ctrl.changeHandler(data, old)"
												  ng-suggests="ctrl.suggests"
												  min="{{ctrl.min}}" max="{{ctrl.max}}" 
												  reverse="{{ctrl.reverse}}"
												  fixed="{{ctrl.fixed}}"
												  separator="{{ctrl.separator}}"
												  separators="{{ctrl.separators}}"
												  key-nav="ctrl.keyNav"
												  labels="{all:'Select all', none:'Unselect', title:'Pages'}"></int-selector>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-4 control-label">Events : </label>
							<div class="col-sm-8">
								<textarea class="form-control" rows="10" ng-model="ctrl.events"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>
