int-selector[disabled='true'] input,
int-selector[disabled='disabled'] input {
	font-size: 0px;
}
int-selector.lg > .int-selector-group > .form-control,
int-selector.lg > .int-selector-group > .input-group-btn > .btn {
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.3333333;
}
int-selector.sm > .int-selector-group > .form-control,
int-selector.sm > .int-selector-group > .input-group-btn > .btn {
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
}
int-selector.xs > .int-selector-group > .form-control,
int-selector.xs > .int-selector-group > .input-group-btn > .btn {
	height: 22px;
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
}
int-selector.hide-dropmenu .int-selector-group .form-control:first-child {
	border-radius: 4px;
}
int-selector.lg.hide-dropmenu .int-selector-group .form-control:first-child,
int-selector.lg > .int-selector-group {
	border-radius: 6px;
}
int-selector.sm.hide-dropmenu .int-selector-group .form-control:first-child,
int-selector.sm > .int-selector-group {
	border-radius: 3px;
}
int-selector.xs.hide-dropmenu .int-selector-group .form-control:first-child,
int-selector.xs > .int-selector-group {
	border-radius: 3px;
}
int-selector.hide-dropmenu .input-group-btn {
	display: none;
}
int-selector.hide-dropmenu .int-selector-group {
	position: static;
   display: block;
   border-collapse: separate;
}