<div class="int-selector-group input-group" title="{{::labels.title || 'Values'}} : {{ngModel|orderBy}}"
	  ng-class="{'has-success':!ctrl.disabled && !ctrl.readonly && ctrl.isValid(), 'has-error':!ctrl.disabled && !ctrl.readonly && !ctrl.isValid()}" >
	<input name="{{inputname}}" type="text" class="form-control" autocomplete="off"
			 placeholder="{{placeholder||'Enter values or ranges, separed by comma...'}}"
			 ng-model="ctrl.userinput" ng-required="!ctrl.disabled && ctrl.required" 
			 ng-pattern="ctrl.pattern" ng-disabled="ctrl.disabled" ng-readonly="ctrl.readonly"
			 ng-keydown="ctrl.handlerKeyDown($event)"
			 ng-keyup="ctrl.handlerKeyUp($event)"
			 ng-blur="ctrl.blur($event)">
	<div class="input-group-btn btn-group">
		<a role="button" ng-class="{'btn-success':!ctrl.disabled && !ctrl.readonly && ctrl.isValid(), 'btn-danger':!ctrl.disabled && !ctrl.readonly && !ctrl.isValid()}" 
			ng-disabled="ctrl.disabled || ctrl.readonly"
			class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<span class="caret"></span>
		</a>
		<ul class="dropdown-menu dropdown-menu-right" ng-if="!ctrl.disabled && !ctrl.readonly">
			<li><a role="button"
					 ng-click="$event.stopPropagation(); ctrl.selectAll();">
					<i class="glyphicon glyphicon-asterisk text-success"></i>&nbsp;&nbsp;&nbsp;
					<span ng-bind="::labels.all || 'All'"></span>
				</a>
			</li>
			<li><a role="button"
					 ng-click="$event.stopPropagation(); ctrl.selectNone();">
					<i class="glyphicon glyphicon-remove text-danger"></i>&nbsp;&nbsp;&nbsp;
					<span ng-bind="::labels.none || 'None'"></span>
				</a>
			</li>
			<li role="separator" class="divider"></li>
			<li ng-repeat="val in ngModel| orderBy:(reverse?'-':'+') track by $index">
				<a href role="button" 
					ng-click="$event.stopPropagation(); ctrl.removeValue(val);">
					<i class="glyphicon glyphicon-minus text-warning"></i>&nbsp;&nbsp;&nbsp;
					<span ng-bind="val"></span>
				</a>
			</li>
			<li ng-if="ngModel.length && therest.length" role="separator" class="divider"></li>
			<li ng-repeat="val in ctrl.values| without:ngModel | orderBy:(reverse?'-':'+') as therest track by $index">
				<a href role="button" 
					ng-click="$event.stopPropagation(); ctrl.addValue(val);">
					<i class="glyphicon glyphicon-plus text-primary"></i>&nbsp;&nbsp;&nbsp;
					<span ng-bind="val"></span>
				</a>
			</li>
		</ul>
	</div>
</div>
